<div class="column-secondary featuredclients">
 <h2>Featured <a href="/casestudies/" title="Equal Experts clients"><b>clients</b></a></h2>
 <section>
	<p><img src="/asset/images/client-o2.png" alt="O2"></p>
	<p>O2 is a dynamic, well loved brand and a pleasure to work with. Over our time with O2 we have delivered a number of projects. The highest profile of which was their innovative mobile offers product, Priority Moments.</p>
	<p><a href="/casestudies/" title="O2 case study">Learn more</a></p>
 </section>
 <section>
	<p><img src="/asset/images/client-rightmove.png" alt="Rightmove"></p>
	<p>EqualExperts were commissioned to develop Rightmove's iPad application to coincide with the launch of the iPad in the UK. With five weeks to deliver from start to finish this was a fast paced, high energy project!</p>
  <p><a href="/casestudies/" title="Rightmove case study">Learn more</a></p>
 </section>
 <section>
	<p><img src="/asset/images/client-tieto.png" alt="Tieto"></p>
	<p>By combining our enterprise-friendly agile approach, project leadership and technical expertise with Tieto's unique domain knowledge, we were able to go from a clean sheet of paper to the beta release of the system in 18 months and 12,000 man-days, whilst constantly adapting to the changing market conditions.</p>
  <p><a href="/casestudies/" title="Tieto case study">Learn more</a></p>
 </section>   
</div>