</div>
 </header>
 <div id="content" class="clearfix" role="main">
  {{ content }}

  <!-- 
  <article id="article">
   <section id="section1"></section>
   <section id="section2"></section>
  </article>
  -->
 </div>
 
 
 
 <footer id="footer" role="contentinfo">
  <hr>
  <div class="contacts clearfix">
   <h3>Equal Experts <i>Do more. With less.</i></h3>   <p class="copyright">Copyright 2005-12 &copy; Equal Experts.</p>
   <aside class="uk">
    <h4>United Kingdom</h4>
    <ul>
     <li class="tel"><a href="tel:+44-203-603-7830" title="Call Equal Experts UK">+44 (0)203 603 7830</a></li>
     <li class="email"><a href="mailto:info@equalexperts.com" title="Email Equal Experts UK">info@equalexperts.com</a></li>
     <li class="adr">Hamilton House, Mabledon Place<br> London, WC1H 9BB.</li>
    </ul>
   </aside>
   <aside class="india">
    <h4>India</h4>
    <ul>
     <li class="tel"><a href="tel:+91 20 6607 7763" title="Call Equal Experts India">+91 20 6607 7763</a></li>
     <li class="email"><a href="mailto:eeindia@equalexperts.com" title="Email Equal Experts India">eeindia@equalexperts.com</a></li>
     <li class="adr">Cerebrum IT Park No. B3, Kumar City<br> Pune, 411006.</li>
    </ul>
   </aside>
   <aside class="social">
    <ul>
     <li class="linkedin"><a href="http://www.linkedin.com/company/equal-experts" title="Equal Experts on LinkedIn">LinkedIn</a></li>
     <li class="twitter"><a href="http://www.twitter.com/equalexperts" title="Equal Experts on Twitter">Twitter</a></li>
     <!-- <li class="youtube"><a href="#" title="#">YouTube</a></li> -->
    </ul>
   </aside>    
  </div>
 
 </footer>
 
 <!-- Scripts
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 <script>!window.jQuery && document.write('<script src="/asset/scripts/jquery-1.7.1.min.js"><\/script>')</script> -->
 
</body>
</html>