 {% include header.html %}
 <body id="network">
 <header id="banner">
  <div class="inner clearfix">
   <strong>
    <a href="http://equalexperts.com" title="Return to homepage" rel="home"><img src="/asset/images/logo.png" alt="Equal Experts"></a>
   </strong>
   <nav role="navigation">
    <ul>
     <li><a href="/" title="Homepage">Home</a></li>
     <li><a href="/about" title="About us">About us</a></li> 
     <li><a href="/casestudies" title="Case studies">Case studies</a></li>
     <li><a href="/events" title="Events">Events</a></li>
     <li class="active"><a href="/ournetwork" title="Our network"><b>Our network</b></a></li>
     <li><a href="/contact" title="Contact">Contact</a></li>
    </ul>
   </nav>
   {% include footer.html %}